<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../information-element/information-element.html">
<link rel="import" href="../cryptoinfo-card/cryptoinfo-card.html">
<link rel="import" href="../success-card/success-card.html">
<link rel="import" href="../transaction-card/transaction-card.html">

<dom-module id="studentsapp-element">
  <template>
    <style>
      :host {
        display: block;
      }

      .menu ul {
        display: flex;
        list-style: none;
        border-style: outset;
        background-color: #F87373;
      }

      .menu li {
        width: 100%;
        margin: 0% auto;
      }

      .menu a { 
        display: block;
        padding: 10px;
        text-decoration: none;
        color: white;
      }

      li:hover {
        background-color: #EE0505;
      }

      .title, li {
        text-align: center;
      }
    </style>
    <h1 class="title">[[prop1]]</h1>

    <section id="containerPrincipal">
      <header>
        <nav class="menu">
          <ul>
            <li><a href="">Register Student</a></li>
            <li><a href="#">Transactions</a></li>
            <li><a href="#">Crypto Info</a></li>
          </ul>
        </nav>
      </header>
    </section>

    <section id="containerComponents">
      
      <template>
        <information-element></information-element>
      </template>
      
      <template>
        <cryptoinfo-card></cryptoinfo-card>
      </template>

      <template>
        <success-card></success-card>  
      </template>

      <template>
        <transaction-card></transaction-card>
      </template>
    </section>

  </template>

  <script> 
    /**
     * `studentsapp-element`
     * App for register students
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class StudentsappElement extends Polymer.Element {
      static get is() { return 'studentsapp-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Students App'
          },

          formVisible:{
            type:Boolean,
            value:true
          }
        };
      }
    }

    window.customElements.define(StudentsappElement.is, StudentsappElement);
  </script>
</dom-module>
